<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.yedamtour.train.map.TrainMapper">

	<select id="trainSelectList" resultType="co.yedam.yedamtour.train.service.TrainVO">
		SELECT * FROM TOUR_TRAIN
	</select>
	
	<select id="trainSelect" resultType="co.yedam.yedamtour.train.service.TrainVO">
	
	</select>
	
	<insert id="trainInsert" parameterType="co.yedam.yedamtour.train.service.TrainVO">
		
	</insert>
	
	<update id="trainUpdate" parameterType="co.yedam.yedamtour.train.service.TrainVO">
	
	</update>
	
	<delete id="trainDelete" parameterType="co.yedam.yedamtour.train.service.TrainVO">
	
	</delete>
</mapper>