<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.yedamtour.ticket.map.ThemeparkMapper">
	<select id="themeparkSelectList"
		resultType="co.yedam.yedamtour.ticket.service.ThemeparkVO">
		select *
		from tour_themepark
	</select>
	<select id="themeparkSelect"
		resultType="co.yedam.yedamtour.ticket.service.ThemeparkVO">
		SELECT *
		FROM TOUR_THEMEPARK
		Where themepark_id =
		#{themeparkId}
		<if test="themeparkName != null">
			And themepark_Name = #{themeparkName}
		</if>
	</select>
	<select id="themeparkCartSelect"
		resultType="co.yedam.yedamtour.ticket.service.ThemeparkVO">
		SELECT *
		FROM TOUR_THEMEPARK
		Where themepark_id =
		#{themeparkId} And themepark_Name = #{themeparkName}

	</select>



</mapper>