<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.yedamtour.member.map.MemberMapper">
	<select id="memberSelectList"
		resultType="co.yedam.yedamtour.member.service.MemberVO">
		SELECT *
		FROM TOUR_MEMBER
	</select>
	<select id="memberSelect"
		resultType="co.yedam.yedamtour.member.service.MemberVO">
		SELECT * 
		FROM TOUR_MEMBER
		WHERE MEMBER_ID = #{memberId} AND MEMBER_PASSWORD = #{memberPassword}
		
	</select>


</mapper>