<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="co.yedam.yedamtour.category.map.CategoryMapper">

	<select id="categorySelect" resultType="co.yedam.yedamtour.category.service.CategoryVO">
		SELECT*
		FROM TOUR_CATEGORY
		WHERE CATEGORY_NAME= #{categoryName}
	</select>
</mapper>