<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.yedamtour.airplane.map.AirplaneMapper">

	<select id="airplaneSelectList" resultType="co.yedam.yedamtour.airplane.service.AirplaneVO">
	
	</select>
	
	<select id="airplaneSelect" resultType="co.yedam.yedamtour.airplane.service.AirplaneVO">
	
	</select>
	
	<insert id="airplaneInsert" parameterType="co.yedam.yedamtour.airplane.service.AirplaneVO">
	
	</insert>
	
	<update id="airplaneUpdate" parameterType="co.yedam.yedamtour.airplane.service.AirplaneVO">
	
	</update>
	
	<delete id="airplaneDelete" parameterType="co.yedam.yedamtour.airplane.service.AirplaneVO">
	
	</delete>
</mapper>