<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.yedamtour.qna.map.QandAMapper">
	<select id="qnaSelectList" resultType="co.yedam.yedamtour.qna.service.QandAVO">
		    SELECT ROWNUM, A.QNA_ID, A.QNA_TITLE, A.QNA_CONTENT, A.QNA_WRITER, A.QNA_WRITE_DATE, A.QNA_UPDATE_DATE,
		    	   (SELECT MEMBER_NICKNAME
	                  FROM TOUR_MEMBER
	                  WHERE MEMBER_ID = A.QNA_WRITER) MEMBER_NICKNAME
		      FROM (
		        SELECT Q.QNA_ID, Q.QNA_TITLE, Q.QNA_CONTENT, Q.QNA_WRITER, Q.QNA_WRITE_DATE, Q.QNA_UPDATE_DATE
		                
		          FROM TOUR_QNA Q
		         ORDER BY QNA_ID DESC) A
	</select>
	<select id="qnaSelect" resultType="co.yedam.yedamtour.qna.service.QandAVO">
		SELECT ROWNUM, A.QNA_ID, A.QNA_TITLE, A.QNA_CONTENT, A.QNA_WRITER, A.QNA_WRITE_DATE, A.QNA_UPDATE_DATE, A.QNA_REPLAY,
		       (SELECT MEMBER_NICKNAME
		          FROM TOUR_MEMBER
		          WHERE MEMBER_ID = A.QNA_WRITER) MEMBER_NICKNAME
		  FROM (
		    SELECT Q.QNA_ID, Q.QNA_TITLE, Q.QNA_CONTENT, Q.QNA_WRITER, Q.QNA_WRITE_DATE, Q.QNA_UPDATE_DATE, Q.QNA_REPLAY
		            
		      FROM TOUR_QNA Q
		     WHERE QNA_ID = #{qnaId}) A
	</select>
	<insert id="qnaInsert" parameterType="co.yedam.yedamtour.qna.service.QandAVO">
		<selectKey keyProperty="qnaId" resultType="int" order="BEFORE">
			SELECT NVL(MAX(QNA_ID), 0) + 1 AS ID
			  FROM TOUR_QNA
		</selectKey>
		INSERT INTO TOUR_QNA(QNA_ID, QNA_TITLE, QNA_CONTENT, QNA_WRITER, QNA_WRITE_DATE)
		VALUES(#{qnaId}, #{qnaTitle}, #{qnaContent}, #{qnaWriter}, SYSDATE)
	</insert>
	<update id="qnaUpdate" parameterType="co.yedam.yedamtour.qna.service.QandAVO">
		UPDATE TOUR_QNA
			<set>
				<if test="qnaTitle != null">QNA_TITLE = #{qnaTitle},</if>
				<if test="qnaContent != null">QNA_CONTENT = #{qnaContent},</if>
				QNA_UPDATE_DATE = SYSDATE
			</set>
		WHERE	QNA_ID = #{qnaId}
	</update>
	<update id="qnaReplayWrite" parameterType="co.yedam.yedamtour.qna.service.QandAVO">
		UPDATE TOUR_QNA
			<set>
			<if test="qnaReplay != null">QNA_REPLAY = #{qnaReplay},</if>
			<if test="qnaReplayWriter != null">QNA_REPLAY_WRITER = #{qnaReplayWriter},</if>
			</set>
		WHERE	QNA_ID = #{qnaId}
			
	</update>
	<delete id="qnaDelete" parameterType="co.yedam.yedamtour.qna.service.QandAVO">
		DELETE FROM TOUR_QNA WHERE QNA_ID = #{qnaId} AND QNA_WRITER = #{qnaWriter}
	</delete>
</mapper>