<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.yedamtour.pension.map.PensionMapper">
	<select id="pensionSelectList" resultType="co.yedam.yedamtour.pension.service.PensionVO">
	SELECT * FROM TOUR_PENSION
	</select>
	
	<select id="pensionSelect" resultType="co.yedam.yedamtour.pension.service.PensionVO">
	SELECT * FROM TOUR_PENSION WHERE PENSION_ID = #{pensionId}
	</select>
	
	<insert id="pensionInsert" parameterType="co.yedam.yedamtour.pension.service.PensionVO">
	INSERT INTO TOUR_PENSION(PENSION_ID, PENSION_NAME, PENSION_DETAIL, PENSION_PRICE)
	VALUES (#{pensionId}, #{pensionName}, #{pensionDetail}, #{pensionPrice})
	</insert>
	
	<update id="pensionUpdate" parameterType="co.yedam.yedamtour.pension.service.PensionVO">
	UPDATE TOUR_PENSION
	 <set>
		  	<if test="pensionName != null"> PENSION_NAME = #{pensionName},</if>
		  	<if test="pensionDetail != null"> PENSION_DETAIL = #{pensionDetail},</if>
		  	<if test="pensionPrice != null"> PENSION_PRICE = #{pensionPrice},</if>
		  	<if test="pensionSale != null"> PENSION_SALE = #{pensionSale},</if>
		  	<if test="pensionCount != null"> PENSION_COUNT = #{pensionCount},</if>
		  	<if test="pensionImg != null"> PENSION_IMG = #{pensionImg},</if>
		  	<if test="pensionService != null"> PENSION_SERVICE = #{pensionService},</if>
		  	<if test="pensionAddress != null"> PENSION_ADDRESS = #{pensionAddress},</if>
		  	<if test="pensionRoomImg1 != null"> PENSION_ROOM_IMG1 = #{pensionRoomImg1},</if>
		  	<if test="pensionRoomImg2 != null"> PENSION_ROOM_IMG2 = #{pensionRoomImg2},</if>
		  	<if test="pensionRoomImg3 != null"> PENSION_ROOM_IMG3 = #{pensionRoomImg3},</if>
		  	<if test="pensionRoomPrice1 != null"> PENSION_ROOM_PRICE1 = #{pensionRoomPrice1},</if>
		  	<if test="pensionRoomPrice2 != null"> PENSION_ROOM_PRICE2 = #{pensionRoomPrice2},</if>
		  	<if test="pensionRoomPrice3 != null"> PENSION_ROOM_PRICE3 = #{pensionRoomPrice3}</if>
		  </set>
	WHERE PENSION_ID = #{pensionId}
	</update>
	
	<delete id="pensionDelete" parameterType="co.yedam.yedamtour.pension.service.PensionVO">
	DELETE TOUR_PENSION
	WHERE PENSION_ID = #{pensionId}
	</delete>
</mapper>